@media (min-width: 375px) and (max-width: 1000px)
{
    *{
        display: flex;
        align-items: center;
    }
    .container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
    .initial{
        grid-template-rows: 1fr 1fr;
        flex-direction: column;
        align-items: center;
    }
    #title{
        color: hsl(300, 43%, 22%);
        margin: 10% 0% 0% ;
        width:350px;
        text-align: center;
        
    }
    #informations{
        width:300px;
        color:hsl(303, 10%, 53%);
        flex-direction: row;
        margin: 20px 0 0 0;
        text-align: center;
        justify-content: center;
    
    }
    .startContainer{
        justify-content:center;
        flex-wrap: wrap;
        grid-template-rows: 1fr 2fr;
        
    }
    .stars{
        flex-direction: row;
        align-items: center;
        text-align: center;
        height:80px;
        width:300px;
        border-radius: 5px;
        margin-bottom: 3%;
        color: hsl(300, 43%, 22%);
        font-size: 13px;
        font-weight: bold;
        background-color:hsl(300, 24%, 96%);   
    }
    .mobileText{
        grid-row-start: 2;
        text-align: center;

    }
    #second{
        margin-left:0;
    }
    #third{
        margin-left:0;
    }
    #icon{
        flex-direction:column;
        justify-content:center;
        margin-right:0;
        height:13px;
        background-color:hsl(300, 24%, 96%);
    }
    .attribution {
        background-color:  hsl(333, 80%, 67%);
        text-align: center;
        font-size: 11px;
        text-align: center;
        font-weight: bold;
        border-radius: 5px;
        width: 100%;
        margin-top:20px;
      }
      .attribution a {
        color:  hsl(300, 43%, 22%);
        text-decoration: none; 
      }
      .attributionTexts{
          margin-top:20px;
      }
   }
