.startContainer{
    align-self: center;
    flex-direction:column;
    margin: 10% 4%;
    justify-content:flex-end;
    
}
.stars{
    align-items: center;
    height:35px;
    width:370px;
    justify-content: space-around;
    border-radius: 5px;
    margin-bottom: 3%;
    color: hsl(300, 43%, 22%);
    font-size: 13px;
    font-weight: bold;
    background-color:hsl(300, 24%, 96%);
    flex-direction: row;
    
}
#second{
    margin-left:15%;
    
}
#third{
    margin-left:23%;

}
#icon{
    justify-content:flex-start;
    margin-right:0;
    height:13px;
    background-color:hsl(300, 24%, 96%);
}
.cardsContainer{
    display:grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    background-color:red;
    justify-content:space-between;
    margin: 0 0 40px 0;
    color: hsl(300, 24%, 96%);
    
}
.cards{
    height:200px;
    width:300px;
    background-color:hsl(300, 43%, 22%);
    font-size: 10px;
}
.cardTitle{
    font-size:15px;
    background-color:hsl(300, 43%, 22%);
}
.cardSubTitle{
    background-color:hsl(300, 43%, 22%);
}
.cardText{
    background-color:hsl(300, 43%, 22%);
}
.cardHeader{
    flex-direction:row;
}
#cardsImg{
    margin:10% 0px 0px 6%;
    height:50px;
    width:50px;
    border-radius: 55%;
}